.bg-custom {
	background-color: #00796b !important;
}

.navbar .nav-item .nav-link {
	color: black;
	font-size: 20px;
}

.navbar-custom .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px;
}

.div-color {
	background-image: linear-gradient(to right top, #ed6700, #ec9000, #e5b500, #d9d828,#c8f95a);
	height: 500px;
}